{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{% assign menu_color_scheme = section.settings.menu_color_scheme %}
{% if template == 'index' %}
  {% assign menu_color_scheme = section.settings.menu_color_scheme_home %}
{% endif %}


<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline " role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {% assign mega_images = section.blocks | where: 'type', 'images' %}
        {% assign mega_columns = section.blocks | where: 'type', 'columns' %}

        {% assign menu_label = link.title | downcase %}
        {% assign mega_images_list = '' %}
        {% assign mega_columns_list = '' %}

        {% for mega_image in mega_images %}
          {% assign label = mega_image.settings.menu_label | downcase %}
          {% assign mega_images_list = mega_images_list | append: label | append: ',' %}
        {% endfor %}

        {% for mega_column in mega_columns %}
          {% assign label = mega_column.settings.menu_label | downcase %}
          {% assign mega_columns_list = mega_columns_list | append: label | append: ',' %}
        {% endfor %}

        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary id="HeaderMenu-{{ link.handle }}" class="header__menu-item list-menu__item link focus-inset {%- if link.child_active %} active {%- endif-%}">
                <span
                  {%- if link.child_active %}
                  class="header__active-menu-item"
                  {% endif %}>
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1">
                <div class="page-width-desktop tw-py-16 tw-grid tw-grid-cols-12">

                  <ul class="mega-menu__list {% if link.levels == 1 %} mega-menu__list--condensed{% endif %} {% if mega_images_list contains menu_label %} tw-col-span-4 {% elsif mega_columns_list contains menu_label %} tw-col-span-12 tw-columns-3 {% endif %} {{ mega_columns_list }} {{menu_label}}" role="list">

                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="mega-menu__link mega-menu__link--level-2 tw-uppercase link{% if childlink.current %} mega-menu__link--active{% endif %}"
                          {% if childlink.current %}
                          aria-current="page"
                          {% endif %}>
                          {{ childlink.title | escape }}
                        </a>
                        {%- if childlink.links != blank -%}
                          <ul class="list-unstyled" role="list">
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                  {% if grandchildlink.current %}
                                  aria-current="page"
                                  {% endif %}>
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                  {% if mega_images %}
                    <div class="tw-grid tw-grid-cols-2 tw-col-span-8 tw-gap-[40px] tw-items-start">
                      {% for mega_image in mega_images %}
                        {% assign label = mega_image.settings.menu_label | downcase %}
                        {% if label == menu_label %}
                          {% render 'mega-menu-image'
                            , mega_image: mega_image %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                {% for mega_column in mega_columns %}
                  {% assign label = mega_column.settings.menu_label | downcase %}
                  {% if label == menu_label and mega_column.settings.title %}
                    <div class="tw-py-[24px] tw-border-t tw-border-t-primary-400">
                      <div class="page-width-desktop">
                        <a href="{{mega_column.settings.link}}" class="mega-menu__link tw-uppercase tw-font-bold link !tw-p-0">{{ mega_column.settings.title }}</a>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset {%- if link.current %} active {%- endif-%}"
            {% if link.current %}
            aria-current="page"
            {% endif %}>
            <span
              {%- if link.current %}
              class="header__active-menu-item"
              {% endif %}>
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}

  </ul>
</nav>