{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding tw-bg-[#F7F5F1]">
  <div
    class="splide  tw-space-y-16"
    aria-labelledby="carousel-heading"
    data-per-page="4"
    data-padding-left="50"
    data-padding-right="80">
    {% render 'separator' %}
    <div class="page-width">
      <h2 id="SectionHeading-{{ section.id }}" class="scroll-trigger animate--slide-in tw-font-heading tw-text-display-sm tw-uppercase tw-mb-6">
        {{ section.settings.title }}
      </h2>
      <div class="tw-flex tw-items-center">
        {% if section.settings.description != blank %}
          <p>{{ section.settings.description }}</p>
        {% endif %}
        <div class="splide__arrows tw-hidden lg:tw-flex ">
          <button class="splide__arrow splide__arrow--prev tw-mr-3.5 tw-p-5 tw-border tw-border-primary-500 disabled:tw-opacity-50 hover:tw-bg-primary-500 hover:tw-text-white">
            {% render 'icon-chevron-left' %}
          </button>
          <button class="splide__arrow splide__arrow--next tw-p-5 tw-border tw-border-primary-500 hover:tw-bg-primary-500 hover:tw-text-white">
            {% render 'icon-chevron-right' %}
          </button>
        </div>

      </div>

    </div>

    <div class="splide__track">
      <ul class="splide__list">

        {% if section.settings.partnerships_data %}
          {% assign partnerships = shop.metaobjects['partnerships_list'][section.settings.partnerships_data].partnerships %}
        {% else %}
          <p>Error: you need to enter the Partnerships List handle for this section to show.</p>
        {% endif %}

        {% for num in (1..5) %}
          {%- for partnership in partnerships.value -%}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="splide__slide  tw-bg-white tw-p-10 tw-text-center tw-border tw-border-secondary-300 hover:tw-bg-primary-500 hover:tw-text-white tw-transition-all tw-group"
              {{ block.shopify_attributes }}>
              <a href="{{shop.url}}{{partnership.system.url}}" class="tw-space-y-7">
                <div class="tw-bg-white tw-w-full">{{ partnership.logo | image_url: height: 172 | image_tag: class: 'tw-mx-auto' }}</div>

                <h3 class="tw-text-text-lg tw-text-black group-hover:tw-text-white tw-font-medium tw-font-body">{{ partnership.title }}</h3>
                <p>
                  {{ partnership.description | metafield_tag }}
                </p>
              </a>
            </li>
          {%- endfor -%}
        {% endfor %}
      </ul>
    </div>
    {% if section.settings.cta_label != blank %}
      <a href="{{section.settings.cta_url}}" class="button button--primary tw-block tw-max-w-fit tw-mx-auto tw-uppercase hover:tw-bg-secondary-500 hover:tw-text-primary-700">{{ section.settings.cta_label }}</a>
    {% endif %}
    {% render 'separator'
      , class: 'tw-rotate-180' %}
  </div>
</div>


{% schema %}
  {
    "name": "Brand Partnerships",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "t:sections.collection-list.settings.title.default",
        "label": "t:sections.collection-list.settings.title.label"
      },
      {
        "type": "inline_richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "Button label"
      },
      {
        "type": "text",
        "id": "partnerships_data",
        "label": "Partnerships List, handle",
        "info": "Enter the list *handle*. Check your options [here](https://admin.shopify.com/store/the-clearly-collective/content/metaobjects/entries/partnerships_list)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 104,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 104,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],

    "presets": [
      {
        "name": "Brand Partnerships"
      }
    ]
  }
{% endschema %}