{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding  page-width">
  <div class="collection-hero tw-flex tw-items-stretch tw-relative tw-group tw-overflow-hidden tw-transition-all tw-w-full  after:tw-absolute after:tw-inset-0 after:tw-bg-primary-700 after:tw-opacity-60 tw-min-h-[320px] {%  unless section.settings.show_collection_image %} no-image {% endunless %}">

    {% assign cover_image = collection.metafields.custom.cover_image %}
    {% if section.settings.show_collection_image %}
      {% if cover_image %}
        {{ cover_image | image_url: height: 320 | image_tag: class: 'tw-absolute tw-object-cover tw-inset-0 tw-h-full tw-w-full' }}
      {% else %}
        {{ section.settings.fallback_image | image_url: height: 320 | image_tag: class: 'tw-absolute tw-object-cover tw-inset-0 tw-h-full tw-w-full' }}
      {% endif %}
    {% endif %}

    <div class="tw-relative tw-inset-0 tw-p-10 tw-text-white tw-max-w-5xl tw-flex tw-flex-col tw-z-[1]">
      <span class="tw-text-white tw-block tw-mb-section lg:tw-mb-auto tw-font-bold tw-text-text-sm  tw-uppercase">{{ collection.metafields.custom.eyebrow }}</span>
      <h1 class="tw-text-white tw-block tw-mb-3.5	tw-font-heading tw-text-text-lg md:tw-text-display-sm  tw-uppercase">{{ collection.metafields.custom.headline | default: collection.title }}</h1>
      {% if section.settings.show_collection_description %}
        <p>{{ collection.description }}</p>
      {% endif %}
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-collection-banner.name",
    "class": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.main-collection-banner.settings.paragraph.content"
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "default": true,
        "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "default": false,
        "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
        "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "image_picker",
        "id": "fallback_image",
        "label": "Fallback Image",
        "info": "Used if the Cover Image field isn't set on the collection."
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 104,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 104,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}